* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  padding: 20px;
}

@media (min-width: 1024px) {
  main {
    padding: 20px;
    background-color: #222222ec;
    height: 120%;
    width: 100%;
    color: wheat;
    display: grid;
    gap: 20px;
    grid-template-columns: 4rem 13rem 1fr;
    grid-template-rows: 1fr 3rem 1fr;
    grid-template-areas:
      "menu-bar weather highlight "
      "menu-bar  7day Time"
      "menu-bar future-forcast map";
    position: relative;

    overflow: hidden;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    &::before {
      content: "";
      position: absolute;
      inset: -40%;
      background: radial-gradient(
          circle at 30% 30%,
          rgba(5, 86, 120, 0.801),
          transparent 40%
        ),
        radial-gradient(
          circle at 70% 60%,
          rgba(2, 67, 47, 0.881),
          transparent 45%
        ),
        radial-gradient(
          circle at 50% 90%,
          rgba(63, 3, 89, 0.843),
          transparent 50%
        );
      filter: blur(60px);
      z-index: 0;
    }

    .menu-bar {
      z-index: 1;
      grid-area: menu-bar;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      border-radius: 15px;
      .icons {
        height: 100%;
        width: 100%;
        display: flex;
        padding: 20px;
        gap: 10px;
        text-align: center;
        flex-direction: column;
        hr {
          width: 100%;
          border: 1px solid rgba(244, 240, 240, 0.622);
        }
        .top {
          height: 40px;
          width: 100%;
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 5px;
          }
        }
      }
    }

    .weather {
      z-index: 1;
      grid-area: weather;
      width: 100%;
      height: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      border-radius: 15px;
    }
    .highlight {
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      grid-area: highlight;
      border-radius: 15px;
    }
    .seven-day {
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      border-radius: 15px;
      grid-area: 7day;
    }
    .time {
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      grid-area: Time;
      border-radius: 15px;
    }
    .future-forcast {
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      grid-area: future-forcast;
      border-radius: 15px;
    }
    .map {
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      grid-area: map;
      border-radius: 15px;
    }
  }
}
