* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  background-color: #222222ec;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  &::before {
    content: "";
    position: absolute;
    inset: -40%;
    background: radial-gradient(
        circle at 30% 30%,
        rgba(5, 86, 120, 0.801),
        transparent 40%
      ),
      radial-gradient(
        circle at 70% 60%,
        rgba(2, 67, 47, 0.881),
        transparent 45%
      ),
      radial-gradient(
        circle at 50% 90%,
        rgba(63, 3, 89, 0.843),
        transparent 50%
      );
    filter: blur(60px);
    z-index: 0;
  }
  .menu-bar {
    position: relative;
    border-radius: 5px;
    height: 3rem;
    z-index: 1;
    width: 100%;
    background-color: #44434339;
    .icons {
      height: 100%;
      width: 100%;
      padding: 0.2rem;
      display: flex;
      gap: 10px;
      flex-direction: row;
      align-items: center;
      .icon {
        transition: all 0.4s linear;

        &:active {
          scale: 0.9;
        }
      }
      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border-radius: 5px;
        // height: 100%;

        img {
          height: 2rem;
          object-fit: cover;
          border-radius: 5px;
          width: 2rem;
        }
      }

      hr {
        display: none;
      }
    }
  }
  .weather {
    // overflow: hidden;
    z-index: 1;
    grid-area: weather;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 19rem;
    padding: 20px;
    background-color: #44434339;
    backdrop-filter: blur(20px);
    border-radius: 15px;

    .top {
      display: flex;
      align-items: center;
      gap: 30px;
      height: 2rem;
      width: 100%;

      input {
        height: 35px;
        width: 100%;
        padding: 5px;
        border-radius: 10px;
        background-color: #0b0b0b73;
        color: black;
        border: none;
      }

      i {
        display: inline-block;
        align-items: center;
        justify-content: center;
        color: #dededee2;
        padding: 5px 6px;
        background-color: #000000;
        border-radius: 50px;
        font-size: 20px;
        margin-left: -70px;
        transition: all 0.3s linear;
        cursor: pointer;
        &:active {
          transform: scale(0.9);
        }
      }
    }
    .bottom {
      height: 11.5rem;
      display: flex;
      gap: 10px;
      padding: 10px;
      flex-direction: column;
      img {
        height: 130px;
        width: 130px;
        object-fit: cover;
      }
      h6 {
        font-size: 35px;
        color: #f7f7f7b4;
      }
      span {
        margin: 5px 0;
        display: flex;
        align-items: center;
        gap: 20px;
        i {
          font-size: 30px;
          color: #ffffff;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    padding: 20px;
    background-color: #222222ec;
    height: 120%;
    width: 100%;
    color: wheat;
    display: grid;
    gap: 20px;
    grid-template-columns: 4rem 13rem 1fr;
    grid-template-rows: 1fr 3rem 1fr;
    grid-template-areas:
      "menu-bar weather highlight "
      "menu-bar  7day Time"
      "menu-bar future-forcast map";
    position: relative;

    overflow: hidden;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    &::before {
      content: "";
      position: absolute;
      inset: -40%;
      background: radial-gradient(
          circle at 30% 30%,
          rgba(5, 86, 120, 0.801),
          transparent 40%
        ),
        radial-gradient(
          circle at 70% 60%,
          rgba(2, 67, 47, 0.881),
          transparent 45%
        ),
        radial-gradient(
          circle at 50% 90%,
          rgba(63, 3, 89, 0.843),
          transparent 50%
        );
      filter: blur(60px);
      z-index: 0;
    }

    .menu-bar {
      z-index: 1;
      grid-area: menu-bar;
      height: 100%;
      width: 100%;
      padding: 20px;
      display: flex;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      border-radius: 15px;
      text-align: center;
      .icons {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 10px;

        hr {
          display: block;
          width: 100%;
        }
        .top {
          padding: 0.2rem;
        }
        .middle {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 15px;
          flex-direction: column;
          gap: 40px;
        }
        .bottom {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 1.3rem;
        }
        .icon {
          padding: 5px;
          border-radius: 10px;
          transition: all 0.4s linear;
          &:hover {
            background-color: #6f6d6d6d;
          }
          &:active {
            background-color: #6f6d6d6d;
            scale: 0.9;
          }
        }
      }
    }

    .weather {
      z-index: 1;
      grid-area: weather;
      width: 100%;
      height: 100%;

      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      border-radius: 15px;

      .top {
        user-select: none;
        padding: 10px;
        gap: 5px;
        height: 20%;
        width: 100%;
        input {
          height: 35px;
          width: 100%;
          padding: 5px;
          border-radius: 10px;
          background-color: #0b0b0b73;
          color: black;
          border: none;
        }
        i {
          margin-left: -45px;
        }
      }
      .bottom {
        user-select: none;
        span {
          i {
            font-size: 20px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
    .highlight {
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      grid-area: highlight;
      border-radius: 15px;
    }
    .seven-day {
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      border-radius: 15px;
      grid-area: 7day;
    }
    .time {
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      grid-area: Time;
      border-radius: 15px;
    }
    .future-forcast {
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      grid-area: future-forcast;
      border-radius: 15px;
    }
    .map {
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: #201e1e65;
      backdrop-filter: blur(20px);
      grid-area: map;
      border-radius: 15px;
    }
  }
}
