* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  padding: 20px;
  background-color: #222222ec;
  height: 120%;
  width: 100%;

  color: wheat;
  display: grid;
  gap: 20px;
  grid-template-columns: 4rem 13rem 1fr;
  grid-template-rows: 1fr 3rem 1fr;
  grid-template-areas:
    "menu-bar weather highlight "
    "menu-bar  7day Time"
    "menu-bar future-forcast map";
}
.menu-bar {
  grid-area: menu-bar;

  background-color: #201e1ed3;
  backdrop-filter: blur(60px);
  border-radius: 15px;
}

.weather {
  grid-area: weather;
  width: 100%;
  height: 100%;
  background-color: #06eeff;
  border-radius: 15px;
}
.highlight {
  background-color: #4caf50;
  grid-area: highlight;
  border-radius: 15px;
}
.seven-day {
  background-color: #ff9800;
  border-radius: 15px;
  grid-area: 7day;
}
.time {
  background-color: #9c27b0;
  grid-area: Time;
  border-radius: 15px;
}
.future-forcast {
  background-color: #795548;
  grid-area: future-forcast;
  border-radius: 15px;
}
.map {
  background-color: #607d8b;
  grid-area: map;
  border-radius: 15px;
}
